# [submodule "SDK/app/chat-ui/tmp/lv_port_linux_frame_buffer"]
#     path = SDK/app/chat-ui/tmp/lv_port_linux_frame_buffer
#     url = https://github.com/lvgl/lv_port_linux_frame_buffer.git
[submodule "SDK/app/chat-ui/tmp/lv_examples"]
	path = SDK/app/chat-ui/tmp/lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "SDK/app/chat-ui/tmp/lv_drivers"]
	path = SDK/app/chat-ui/tmp/lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "SDK/app/chat-ui/tmp/lvgl"]
	path = SDK/app/chat-ui/tmp/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "SDK/app/chat-ui/tmp/lv_demos"]
	path = SDK/app/chat-ui/tmp/lv_demos
	url = https://github.com/lvgl/lv_demos
